<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--富友支付接口-->
    <add key="Fuyou.Reg.Action" value="http://116.239.4.195:9056/accounMain/reg.action"/> <!--开户注册-->
    <add key="Fuyou.Query.Action" value="http://116.239.4.195:9056/accounMain/query.action"/>
    <add key="Fuyou.BalanceAction.Action" value="http://116.239.4.195:9056/accounMain/BalanceAction.action"/>
    <add key="Fuyou.PreAuth.Action" value="http://116.239.4.195:9056/accounMain/preAuth.action"/><!--预授权-->
    <add key="Fuyou.PreAuthCancel.Action" value="http://116.239.4.195:9056/accounMain/preAuthCancel.action"/>
    <add key="Fuyou.TransferBmu.Action" value="http://116.239.4.195:9056/accounMain/transferBmu.action"/>
    <add key="Fuyou.TransferBu.Action" value="http://116.239.4.195:9056/accounMain/transferBu.action"/>
    <add key="Fuyou.QueryUserInfs.Action" value="http://116.239.4.195:9056/accounMain/queryUserInfs.action"/>
    <add key="Fuyou.ModifyUserInf.Action" value="http://116.239.4.195:9056/accounMain/modifyUserInf.action"/>   <!--9.	用户信息修改-->
    <add key="Fuyou.WebReg.Action" value="http://116.239.4.195:9056/accounMain/webReg.action"/>
    <add key="Fuyou.WebLogin.Action" value="http://116.239.4.195:9056/accounMain/webLogin.action"/>
    <add key="Fuyou.Freeze.Action" value="http://116.239.4.195:9056/accounMain/freeze.action"/>
    <add key="Fuyou.TransferBmuAndFreeze.Action" value="http://116.239.4.195:9056/accounMain/transferBmuAndFreeze.action"/>
    <add key="Fuyou.TransferBuAndFreeze.Action" value="http://116.239.4.195:9056/accounMain/transferBuAndFreeze.action"/>
    <add key="Fuyou.UnFreeze.Action" value="http://116.239.4.195:9056/accounMain/unFreeze.action"/>
    <add key="Fuyou.WebAppReg.Action" value="http://116.239.4.195:9056/accounMain/webAppReg.action"/>

    
    <add key="Fuyou.Recharge.Action"     value="http://116.239.4.195:9056/jzh/500001.action"/> <!--充值-->
    <add key="Fuyou.RechargeSign.Action" value="http://116.239.4.195:9056/jzh/500002.action"/> <!--签约充值-->
    <add key="Fuyou.Withdrawals.Action"  value="http://116.239.4.195:9056/jzh/500003.action"/> <!--提现-->
    
    <add key="Fuyou.QueryTxn.Action"       value="http://116.239.4.195:9056/jzh/queryTxn.action"/>       <!--查询-->
    <add key="Fuyou.Wtrecharge.Action"     value="http://116.239.4.195:9056/jzh/wtrecharge.action"/>     <!--委托充值-->
    <add key="Fuyou.Wtwithdraw.Action"     value="http://116.239.4.195:9056/jzh/wtwithdraw.action"/>     <!--委托提现-->


    <!--委托充值返回地址-->
    <add key="WtrechargeResult"                   value="http://211.103.234.58:6231/Wtrecharge.aspx"/>
    <!--委托提现返回界面-->
    <add key="WtwithdrawResult"                   value="http://211.103.234.58:6231/Wtwithdraw.aspx"/>

    <!--密钥-->
    <add key="FuyouPrivateKey" value="MIICeAIBADANBgkqhkiG9w0BAQEFAASCAmIwggJeAgEAAoGBAO2u+9vkuQGYwe2Yw0XFXRdhCkvwY4328H2STJjeW2LGDJqYYQVbpw1CNwJ0hKKcpk1/APENbdv84RP7x3YEkQVNoB0uSj8qnpUsnuyBdxLdToohikvOrNRWgQx/ZvgFE+rWjka9wVaKqLUbUWxpq9GiUAPFa78kYOABD8dIMtg9AgMBAAECgYEAgpNzQiaxjLMDNyiJfrcioUlqgrWZu9BB5nqNIh5mTilHm1bDVlI3wAz0c6DXjQ5KPqDbP5KFHCoc7QGRXsC7egNBX9kNtL7ZCuYw78pE5sNM4+885fgoqaBCbnc+PxgyAqQ+ZIO5u6QKXQpEoe7PpvxCVBAGyn/1klaQVidUivECQQD87PnV05v8ibOv0N6cSpEZ8s/mdFVDSw0sFBdxMseFGY/WjDl1g9ZQCuwjrcT5S/mnYgb6MzRJn+s0rfCFlImLAkEA8JKURMVg6GqIleQq4e03uqEZ6AgErBlh2e+1/T9vgij6n/ueZysamHydZAupk3Wsfn1bkmdA4zqOCf7UZueOVwJAHDwIF8qrmyF0IahbcW8Ri6gDdWJ/MifqrIUBqO1WQJF98SFuOKQjBIRzn/gCCSJmGD1lMgENUTq88wCH3SGbyQJBAJzEuDAUe3EZM0aSOEufvQg2QV6OExVfOP+/ENYmB3FHaQLmAjRyx1MFKb9vRiMctLp80DaYaJVqq/Lhh+JDFOMCQQCXrBhjTx4KfLzfUhOVzm5D8w5sAn9Sg1jDeMwe8tyiyUBbbkw+k9qK0YLOfnwKuC3MNI5URjaKyLzilPDZZkrs"/>
    <!--商户代码 0002900F0339996    user114-->
    <add key="MerchantCode" value="0002900F0339996"/>
    <!--商户登录账户 0002900F0338384 user122-->
    <add key="MerchantLogin" value="user114"/>
  </appSettings>
</configuration>